header{
    background-image: linear-gradient(to right, rgb(106, 106, 247), rgb(27, 27, 78));
    height: 75px;
}

.todaysBox {
    border: 1px solid black;
}

.forecast-card{
    background-color: navy;
}

#searched{
    border-top: 1px solid black;
    width: 80%;
    margin: 10px;
}

button{
    width: 80%;
    margin: 10px;
}

input{
    width: 80%;
    margin: 10px;
}

.forecast-card{
    width: 200px;
    margin: 20px;
}

#bigguy{
    width: 100px;
}
