.todaysBox {
    border: 1px solid black;
}

.forecast-card{
    background-color: navy;
}

#searched{
    border-top: 1px solid black;
    width: 80%;
    margin: 10px;
}

button{
    width: 80%;
    margin: 10px;
}

input{
    width: 80%;
    margin: 10px;
}

.forecast-card{
    width: 200px;
    margin: 20px;
}
